@import url('../fonts/stylesheet.css');

body{
    font-family: 'Montserrat-Arabic', sans-serif;
}

:root {
    --main-color:#3B8EE8;
    --second-color: #0B3D74;
    --backGround-color: #F8F8F8;
    --gray:#B5BEC8;

}
/*.navbar-toggler {*/
/*    */
/*    border: none;*/

/*}*/

/*  style for tab  */
.nav-tabs .nav-link {
    border: none;
}


.navbar-toggler:focus,
.navbar-toggler:focus-visible {
    outline: none;
    border: none;
    box-shadow: none;
}
.white-header .nav-link{
    font-size: 14px;
    color: black !important ;
    font-weight: 300;
}
.white-header .active{
    color: var(--main-color) !important;
    font-weight: 500 !important;
    position: relative;
}
.white-header .active::before{
    content: " ";
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: var(--main-color);
    display: inline-block;
    z-index: 100;
    top:80%;
}
.gradiant_nav .nav-link{
    font-size: 14px;
    color:white !important;
    font-weight: 300 !important;
    position: relative;
}
.gradiant_nav .active{

    font-weight: 400 !important;
    position: relative;
}
.gradiant_nav .active::before{
    content: " ";
    position: absolute;
    width: 3rem;
    height: 2px;
    background-color:white;
    display: inline-block;
    z-index: 100;
    top:80%;
}

.login-btn{
    border-radius: 22px;
    border: 1.5px solid var(--second-color);
    color: var(--second-color);
    font-size: 14px;
    font-weight: 300;
}

/*start scrollbar */
*::-webkit-scrollbar {
    width: 7px;

}

*::-webkit-scrollbar-track {
    background-color: #ebebeb;
}

*::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 20px;
    border-width: 3px;
}
a{
    text-decoration: none;
}
/* to remove arrow from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.header-div{
    background: linear-gradient(261deg, #3C8CE7 0%, #00D6E9 100%);
    box-shadow: 0px 10px 50px 0px rgba(47, 157, 232, 0.06);
}

.text-hero{
    color: white;
}
.custom_card{
    border-radius: 8px;
    border: 1px solid #ECECEC;
}
.card-body span{
    font-size: 10px;
}
.card h6{
    font-size: 14px;
}
.home-row a{
   font-size: 10px;
    color: black;
    text-decoration: none;
    font-weight: 400;
}
.sub-hero-title{
    font-size: 18px;
    font-weight: 400;
    position: relative;
}
.sub-hero-title::before{
    content: " ";
    width: 30%;
    height: 5px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -46%;
    display: inline-block;
    z-index: 100;
}
.sub-hero-title::after{
    content: " ";
    width: 100%;
    height: 5px;
    background-color: #D9D9D9;
    position: absolute;
    bottom: -46%;
    right: 0;
    display: inline-block;
}
.right-slider-div{
    position: relative;
}
.right-slider-div::before{
    content: " ";
    position: absolute;
    background: linear-gradient(353deg, #000 0%, rgba(0, 0, 0, 0.00) 44.13%);
    z-index: 100;
    width: 100%;
    height: 100%;
}
.right-slider-div::after{
    content: " غرفة مجوز مطلة على البحر";
    position: absolute;
    z-index: 10000;
    top:87%;
    right: 4%;
    color: white;
    font-size: 16px;

    font-weight: 400;

}
.slide-arrow,
.prev-arrow,
.next-arrow {
    color: #fff;

}

.next-arrow{
    margin-left:0;
}

.slick-prev,
.slick-next {
    width: 40px;
    height: 40px;
    color: #fff;
}


.next-arrow i {
    color: black;
    font-size: 16px;
    background:white;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

[dir='rtl'] .slick-prev:before,
[dir='rtl'] .slick-next:before {
    content: '';
    display: none;

}
.search_input{
    background: none;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.26);
    color: white;
    font-size: 12px;
position: relative;
    font-weight: 300;
}
.search_icon{
    background: none;
    color: white;
    border: none;
    position: absolute;
    right: 92%;
    top:20%
}
.filter{
    border-radius: 4px;
    border: 1px solid white;
    background: #2C79CD;
}
.header-drop{
    border-radius: 4px;
    background: rgba(251, 251, 251, 0.13);

}
.header-drop a{
    color: white;
    font-size: 12px;
}
.tab{
    color: white;
    font-size: 10px;
}
.white_nav{
    background: white;
    box-shadow: 0 10px 50px 0 rgba(47, 157, 232, 0.06);
}
.home-btn{
    border: 1px solid white;
    color: white;
    font-size: 13px;
}
.home-btn:hover{
    background: white;
    color: var(--main-color);
}
.search-container {
    position: relative;
    display: inline-block;
}

.search-input {
    display: none;
    padding: 5px;
    border: 1px solid #ccc;
    position: absolute;
    bottom:-3rem;
    right: -1rem;
    transition: all 0.3s ease-in-out;
}
.search-input:focus{
    outline: none;
    border: none;
    box-shadow: none;

}
.search-icon {
    cursor: pointer;
}
/******************************* start style about us page   *******************************************************/
.ul_about{
    position: relative;
    list-style-image: url(../img/list.svg);

}

.item_about_us{
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.07px;
    color: #7797BB;
    position: relative;
}

.title{
    font-size: 32px;
    font-weight: 700;
    color: var(--second-color);
    position: relative;
}
.title::before{
    content: " ";
    width: 5%;
    height: 5px;
    background-color: var(--main-color);
    position: absolute;
    top:95%;
    display: inline-block;

}
.text{
    color: var(--second-color);
    font-size: 14px;
    font-weight: 500;

}

.left-side-images {
    max-width: 205px;
    align-items: flex-start;
}

.left-side-images img:last-of-type {
    max-height: 150px;
    margin: 0 auto;
}

/************************** start style common Q page *************************************/
.customize-according{
    background: var(--backGround-color) !important;
    border-radius: 10px !important;
    font-size: 14px;
    color: black;
    font-weight: 400;
    border: none;
}

.btn:focus,
.btn:focus-visible {
    outline: none;
    border: none;
    box-shadow: none;
}
.accordion-button:not(.collapsed){
    /*border: 1px solid var(--second-color);*/
    box-shadow: none !important;

}

.customize-acc-body{
    font-size: 12px;
    font-weight: 300;
    color: #606E7D;
    line-height: 22px;
    letter-spacing: 0.07px;

    border-radius: 10px;
    border:none ;
}

/************  start style login page 1 *******************/

.password-container{
    position: relative;
}
.toggle-password_3 {
    position: absolute;
    left: 5%;
    top: 54%;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--main-color);
    background: var(--backGround-color);
}
.form-check-input:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid var(--main-color);

}
.tab-title{
    font-size: 14px;
    color: #7797BB;
}
.title_log{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.07px;
}
.sub_title_log{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.07px;

}
.active > .tab-title{
    color: var(--main-color);
    position: relative;

}
.active > .tab-title::before{
    content: " ";
    width: 6rem;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    /*bottom: 34%;*/
    display: inline-block;
    z-index: 100;
    right: 0;
    top:155%;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background: none;
}
.nav-tabs .nav-link.active{
    border-color: transparent;
}
.gray_text{
    color: #6E7E89;
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
}
.btn_submit_1 {
    background: var(--main-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: white;
    border-radius: 8px;
}
.btn_submit_1:hover{
    background-color:white;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    transition: all 0.3s ease-in-out;}
.btn_submit_1:hover path{
    fill:var(--main-color);
}


/************************ start style password page 1*************************************/
.card-container{
    border:1px solid #7797BB;
    border-radius: 4px;
}
.rounded-inp{
    border-radius: 30px;
    background: var(--main-color);
    color: white;
    font-size: 14px;
    border:none;
}
.gray-inp{
    background: var(--backGround-color);
    border: none;
    border-radius: 8px;
}


/************************** start style service details ******************************/
.gray_page{
    color: #B5BEC8;
    font-size: 14px;
    font-weight:400;

}

.Before_After_div{
    position: relative;
    z-index: 0;

}
.Before_After_div::before{
    content: "";
    border-radius: 8px;
    border: 1px solid #000;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.40);
    top:0;
    right: 0;


}
.Before_After_div::after{
    content: " 35+";
    position: absolute;
    z-index: 10000;
    top:46%;
    right: 38%;
    color: white;
    font-size: 20px;

    font-weight: 400;
}

.g_circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #6E7E89;
}
.under_text{
    font-size: 10px;
    color:#484848;
    font-weight: 400;
}
.heart_div{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 50px 0 rgba(0, 116, 217, 0.09);

}
.White_card{
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0 0 50px 0 rgba(0, 116, 217, 0.09);

}
.li_blue{
    color: var(--second-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    background: url('../img/list_square.svg') no-repeat right center;
    padding: 11px 30px 11px 25px;
    list-style: none;

}

.checked {
    color: #FEBA02;
}
/*************  style create account page **************************/
.provider_btn{
    border-radius: 4px;
    background: var(--backGround-color) !important;
    color: var(--second-color);
    font-size: 12px;
    font-weight: 400;

}
.customer_btn{
    border-radius: 4px;
    background: var(--second-color) !important;
    color: white;
    font-size: 12px;
    font-weight: 400;
}

/********************* start style congratulation page  *****************************************/
.btn_submit_W{
    border: 1px solid var(--main-color);
    font-size: 14px;
    color: var(--main-color);
    border-radius: 8px;
    line-height: 30px;

}
.btn_submit_W:hover{
    background: var(--main-color);
    color: white;
    transition: all 0.3s ease-in-out;

}
.btn_submit_W:hover path{
    fill:white;
}


/************** start style hotel details page ****************************************/
.service-btn{
    border-radius: 4px;
    border: 1px solid var(--second-color);
    color: var(--second-color);
    font-size: 12px;
    font-weight: 700;
}

/*************  start style order info page*****************************************************/
.label-form{
    font-size: 14px;
    font-weight: 500;
    color: black;

}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider_on_off {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -7px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--main-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--main-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



.next-btn{
    border-radius: 8px;
    border: 1px solid var(--main-color);
    font-size: 14px;
    color: var(--main-color);

}

/*  test  */
input[type="file"]{
    display: none;
}
.uploadlabel{
    border-radius: 6px;
    color: var(--gray);
    border: 2px solid;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}


/******************** start style profile page *********************************/
.list_link{
    color: var(--second-color);
    font-size: 12px;
    font-weight: 400;
}
.white_card{
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 50px 0 rgba(0, 116, 217, 0.09);
}
.blue_circle{
    background:var(--main-color);
    border-radius: 50%;
    width: fit-content;
    overflow: hidden;
}
/* from sal7ly  */
.upload_profile_input{
    display: none;
}
.custom-file-upload {
    background-color: black;
    border-radius: 100%;
    position: absolute;
    padding:0 3px 0 3px;
    cursor: pointer;
    border: 5px solid white;


}
.upload_profile_div{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: var(--backGround-color);
    border: 2px solid white;
    position: absolute;
    top:32%;
    right: 30%;
    cursor: pointer;
    z-index: 2;
}
.clicked{
    color: var(--main-color);
}

/**************** waiting order style***********************/
.radius_all {
    background-color: var(--backGround-color);
    border-radius: 32px;}

.tap_clicked{
    color: white;
}

.btn-order-active{
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    border: none;
    background-color: var(--main-color);
    border-radius: 23px;

    padding-top:0;
}
.btn-order.active {
    background:var(--main-color);
    color:white;
}
/* to determine which button fill and which one stock */

.radius_all > li:nth-child(1) .btn-order.active path{
    stroke: white;
    fill: none;
}
.radius_all > li:nth-child(2) .btn-order.active path{
    stroke: white;
    fill: none;
}
.radius_all > li:nth-child(3) .btn-order.active path{

    fill: white;
    stroke: none;

}


.btn-order{
    font-weight: 400;
    font-size: 13px;
    border: none;
    background-color: transparent;
    border-radius: 23px;
    width: 100%;
    padding: 9px;
    color: #0B3D74;
}
.img-card-waiting{
   object-fit: cover;
    border-radius: 0 16px 16px 0;
}

.custome_blue_circle{
    background:var(--main-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.card_waiting_img{
    border-radius: 11px;
}
/*waiting order details */
.form-check-input:checked {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.re-order-btn{
    border-radius: 33px;
    border: 1px solid #272265;
    background: #F8F8F8;
}

.service_rating_btn{
    border-radius: 4px;
    border: 1px solid #F3AD39;
    background:  #F8F8F8;
    color:#F3AD39 ;
    font-size:12px ;
}
.red_order{
    background: #FAEBEC;
    color: #F33737;
    border: none;
    border-radius: 8px;
    font-size: 14px;
}
.red_order:hover{
    background: #F33737;
    color: #FAEBEC;
}
.red_order:hover path{
    stroke:  #FAEBEC;
}
/*style model rating service */
.model_img{
    border-radius: 100%;
    width: 93px;
    height: 70px;
    object-fit: contain;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #F3AD39;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #F3AD39;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #F3AD39;
}



/**********  setting style ******************/
.lang_switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
}

.lang_switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider_lang{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -7px;
    right: 0;
    bottom: 0;
    background-color: #F8F8F8;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider_lang:before {
    position: absolute;
    content: attr(data-on);
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 2px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
    text-align: center;
    /*line-height: 24px;*/
    color: white;
    font-weight: 300;

}

input:checked + .slider_lang:before {
    content: attr(data-off);
}

input:checked + .slider_lang {
    background-color: #F8F8F8;
}

input:focus + .slider_lang {
    box-shadow: 0 0 1px #F8F8F8;
}

input:checked + .slider_lang:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider_lang.round {
    border-radius: 34px;
}

.slider_lang.round:before {
    border-radius: 50%;
}
.modal-content{
    border:none;
    border-radius: 20px;
}

/**************  style fav page ***********************/
.fav-img{
    height: 100%;
    object-fit: cover;
    border-radius: 0 11px 11px 0;
}
/**************** footer style ***************************/

.text_footer{
    color: white;
    font-size: 12px;
    /*text-decoration: none;*/
    font-weight: 300;
    line-height: 2.5rem;
}
footer a{
    text-decoration: none;

}
/*************** end footer style   ******************************/












/******** about us images  ***********/
@media (max-width: 767px) {
    .left-side-images {
        max-width: unset;
        align-items: center;
    }

    .left-side-images img:not(:last-of-type)
    {
        width: 100%;
        object-fit: contain;
    }


}

